<section>
    <div id="particles-js">
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="jumbotron" id="box1">
                            <h1 class="display-4 text-center">Profile All in One</h1>
                            <p class="lead">
                                <strong>Easily enter hundreds of billing profiles into any of our supported bots - in seconds! </strong>
                                <br/> Supported: ANB AIO, ANB Plus, Astro Bot, BNB Nike, CyberAIO, Dashe, EveAIO, Ghost SNKRS,
                                NikeShoeBot, ProjectDestroyer, Sieupreme, Sneakercopter, Snkrmoji, SoleSlayer, Splashforce,
                                SupremeSlayer, TheSnkrsBot, Trip.io and yCopp.</p>
                        </div>

                        <div class="jumbotron" id="box2">
                            <h1 class="display-4 text-center">Proxy Generator </h1>
                            <p class="lead">You’re paying too much for slow proxies that you use barely use. Create your own blazing fast,
                                on-demand proxies with Hermes. Hermes logo Create an account and make proxies Affordable
                                – less than $0.05 an hour per proxy. Fast – speeds between 50-120ms. On average, as fast
                                or faster than Brazy, Copped, and Proxiesforyou. Full control – swap your proxies and locations
                                whenever. On demand – create proxies whenever you need them, delete when you're done.</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>