<div class="table100 ver2 m-b-110">
    <div class="table100-head">
        <table>
            <thead>
                <tr class="row100 head">
                    <th class="cell100 column1">Number</th>
                    <th class="cell100 column2">Server</th>
                    <th class="cell100 column3">Proxy</th>
                    <th class="cell100 column4">Region</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table100-body">
        <table>
            <tbody>
                <tr class="row100 body" *ngFor="let dummy of ' '.repeat(100).split(''), let x = index" >
                    <td class="cell100 column1">{{x}}</td>
                    <td class="cell100 column2"></td>
                    <td class="cell100 column3"></td>
                    <td class="cell100 column4"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="controller">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-danger">Delete Selected</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary">Copy Selected</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-success">Export Selected to file</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-danger">Delete All</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary">Copy All</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-success">Export All to file</button>
        </div>
    </div>
</div>