<div *ngIf="formType=='Linode'">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0"> {{formType}} Proxy Generator</h3>
                </div>
                <div class="card-body">
                    <form name="form" (ngSubmit)="submit()" #f="ngForm" novalidate>

                        <div class="form-group">
                            <label for="apiKey">Api Key</label>
                            <input type="text" class="form-control form-control-lg" name="apiKey" [(ngModel)]="proxyGen.token" required />
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" [(ngModel)]="proxyGen.user" name="username">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" id="password" [(ngModel)]="proxyGen.pass" name="password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="server">Server</label>
                                <select id="server" class="form-control" [(ngModel)]="proxyGen.server" name="server" required>
                                    <option *ngFor="let server of Servers" [ngValue]="server">{{server}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="location">Location</label>
                                <select id="location" class="form-control" [(ngModel)]="proxyGen.region" name="location" required>
                                    <option *ngFor="let location of Locations" [ngValue]="location">{{location}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="number">Number of Proxy</label>
                                <input class="form-control" type="number" value="20" [(ngModel)]="proxyGen.number" id="number" name="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-success btn-lg float-right">Submit</button>
                            <button type="button" class="btn btn-lg btn-danger" (click)="deleteAll()">Do Not Press!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="formType != 'Linode'">
    <div class="middle">
        <h1>COMING SOON</h1>
    </div>
</div>