<div class="container h-100">
  <div class="row h-100">
    <div class="col-md-3">
      <ul>
        <li (click)="createForm('DashBoard');">My Proxy DashBoard</li>
        <li (click)="createForm('Linode')">Linode</li>
        <li (click)="createForm('Vultr')">Vultr</li>
        <li (click)="createForm('Google')">Google</li>
        <li (click)="createForm('Digital Ocean')">Digital Ocean</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div *ngIf="formType=='DashBoard'">
        <app-proxy-dashboard></app-proxy-dashboard>
      </div>
      <div *ngIf="formType!='DashBoard'">
        <app-proxy-form [formType]="formType"></app-proxy-form>
      </div>
    </div>
  </div>
</div>