.container {
    margin-top: 100px;
}

li {
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    line-height: 4;
    padding: 0;
}

li:hover {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    border: 1px solid #f2f2f2;
    vertical-align: middle;
    padding: 0;
}

.highlight{
    background-color: #f2f2f2
}
