<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">ProfileAIO</h3>
                            </div>
                            <div class="card-body">
                                <form name="form" (ngSubmit)="submit()" #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label for="address">Google Excel Address</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" name="address" [(ngModel)]="address" required />
                                    </div>
                                    <div class="form-group">
                                            <label for="profiletype">Profile Type</label>
                                            <select class="form-control" id="profiles" [(ngModel)]="toProfile" name="profileType" required>
                                                <option *ngFor="let profile of profiletypes" [value]="profile">{{profile}}</option>
                                            </select>
                                        </div>
                                    <div class="form-group">
                                        <a class="download-zip-link" #downloadZipLink></a>
                                        <button [disabled]="loading" class="btn btn-success btn-lg float-right">Submit</button>
                                        <!-- <h1>Current Status: {{status}}</h1> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>